export FHIR_USER="random_user"
export FHIR_PASSWORD="random_password"
export DOCKER_USER=1001
export DOCKER_GROUP=1001
export SEARCH_URL="https://random.medical-system.test/api/FHIR/r4"
export BASIC_AUTH="https://random.medical-system.test/Auth"
export REFRESH_AUTH="https://random.medical-system.test/Auth/refresh"
export WANDB_API_KEY="random_api_key"