services:
  aipal:
    build:
      context: .
      dockerfile: "Dockerfile"
    image: "aipal-validation"
    shm_size: 32g
    environment:
      - FHIR_USER
      - FHIR_PASSWORD
      - SEARCH_URL
      - BASIC_AUTH
      - WANDB_API_KEY
      - WANDB_DIR=/data/wandb
      - WANDB_CACHE_DIR=/data/wandb
      - WANDB_CONFIG_DIR=/data/wandb
      - WANDB_DATA_DIR=/data/wandb
    volumes:
      - .:/app
      - ${DATA_DIR:-./data}:/data

networks:
  default:
    name: "aipal_validation"
