# Set task
task: aipal
debug: False

# General params for setting the folders and the extraction
run_id: "V1"

root_dir: "/data"
step: "all"
data_id: {
    "aipal": "V1",
}

# Enforce run and not read cache
rerun_cache: True
skip_validation: False

LK_codes: {
    "ALL": ['C91.00', 'C91.30', 'C91.50', 'C91.60', 'C91.80', 'C91.90'],
    "AML": ['C92.00', 'C92.50', 'C92.60', 'C92.70', 'C92.80', 'C92.90'],
    "PCL": ['C92.40']
}

# unit siwsslab to si
obs_codes_si:
  zMCV: ['fl', 1, 'fl']
  zTPZCS: ['%', 0.1, '%/10']
  zLDH: ['U/l', 1, 'U/l']
  zMCHC: ['g/dl', 10, 'g/l']
  zLEUA: ['/nl', 1, '/nl']
  zFIBRCS: ['mg/dl', 100, 'g/l']
  zMON#: ['/nl', 1, '/nl']
  zTHRA: ['/nl', 1, '/nl']
  zLYM#: ['/nl', 1, '/nl']

eval_accumulation_steps: 5

# folders to clear on each run
folders_to_clear: [""]

# Sampling
num_processes: 30
