# Set task
task: aipal
debug: False

# General params for setting the folders and the extraction
run_id: "V2"

root_dir: "/data"
step: "all"
data_id: {
    "aipal": "V1",
}

# Enforce run and not read cache
rerun_cache: True
skip_validation: False

LK_codes: {
    "ALL": ['C91.00', 'C91.30', 'C91.50', 'C91.60', 'C91.80', 'C91.90'],
    "AML": ['C92.00', 'C92.50', 'C92.60', 'C92.70', 'C92.80', 'C92.90'],
    "APL": ['C92.40']
}

# unit siwsslab to si
# siwsslab_label: [unit, factor, si_unit, aipal_label]
obs_codes_si:
  zMCV: ['fl', 1, 'fl', 'MCV_fL']
  zTPZCS: ['%', 1, '%', 'PT_percent']
  zLDH: ['U/l', 1, 'U/l', 'LDH_UI_L']
  zMCHC: ['g/dl', 10, 'g/l', 'MCHC_g_L']
  zLEUA: ['/nl', 1, '/nl', 'WBC_G_L']
  zFIBRCS: ['mg/dl', 0.01, 'g/l', 'Fibrinogen_g_L']
  zMON#: ['/nl', 1, '/nl', 'Monocytes_G_L']
  zTHRA: ['/nl', 1, '/nl', 'Platelets_G_L']
  zLYM#: ['/nl', 1, '/nl', 'Lymphocytes_G_L']

# prereq: codes values are alredy in si units
merge_codes:
  zMON# : ['zMONOMA']
  zLYM# : ['zLYMPMA']

eval_accumulation_steps: 5

# folders to clear on each run
folders_to_clear: [""]

# Sampling
num_processes: 30

cutoffs:
  - category: "ALL"
    PPV: 0.9593636
    NPV: 0.04462764
    ACC: 0.4528432
  - category: "AML"
    PPV: 0.9448341
    NPV: 0.02712490
    ACC: 0.5001304
  - category: "APL"
    PPV: 0.7487954
    NPV: 0.04154142
    ACC: 0.3770665
